################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/SvnServerMnagerApi
/PassWordDecode
/SvnMgrApp/bin/Debug
/SvnMgrApp/obj/Debug
/SvnMgrClient/bin/Debug
/SvnMgrClient/obj/Debug
/SvnMgrClientTests/bin/Debug
/SvnMgrClientTests/obj/Debug
