<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="superSocket"
			 type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="PWD_DECODE_CLASS" value="PassWordDecode.Decoder"/>
		<add key="PWD_DECODE_METHOD" value="Decode"/>
	</appSettings>
	<superSocket>
		<servers>
			<server name="SvnMgrServer" textEncoding="UTF-8"
				serverType="SvnMgrApp.SvnMgrServer, SvnMgrApp"
				ip="Any" port="9205">
			</server>
		</servers>
	</superSocket>
</configuration>